{{#if success}}
    <p class="text-success">Message Published successfully!</p>
{{/if}}
{{#if error}}
    <p class="text-success">Could not publish message. Try again!</p>
{{/if}}
<div>
    <a href="/publish-home">Publish Another Message</a>
</div>
